.measureLine {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.greenAlert {
    fill: #5cb85c;
}
.redAlert {
    fill: #d9534f;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}